.nav-items{
    float: inline-end;
    color: #fff;
}
nav{
    position: sticky;
}
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg, #000000, #bb1313, #eb6d07, #0509f8);
    background-size: 600% 600%;
    animation: myfun 20s ease infinite;
    color: white;
}

@keyframes myfun {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.navbar{
    border-radius: 5px;
    background: transparent !important;
    color: #fff;
    z-index: 1000;
    position: sticky;
    z-index: 1000;
}
.navbar-nav{
    align-items: center;
}
.nav-link:hover{
    color: #ffd900 !important;
}
.leftside{
    width: 50%;
    padding: 5px;
    
}
.leftside p{
    padding-left: 100px;
}
.name{
    font-size: 3rem;
    font-weight: 500;

}
.title{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 15px;
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background: transparent;
    align-items: center;
    flex-wrap: wrap;
}
.shortIntro{
    width: 80%;
    font-size: 1.2rem;
    font-weight: 300;
}
.rightside{
    position: relative;
    margin-bottom: 0;
    margin-left: 100px;
}
.gthub:hover{
    color: #790707;
}
.card-body.project{
    align-items: center;
    text-align: center;
    position: relative;
}
.card{
    margin: 15px;
}
.projects{
    align-items: center;
    justify-content: center;
}

#ic{
    position: absolute;
    bottom: 10px;
    left: 50%;
}
.card-text{

    align-items: center;
    align-self: center;
    text-align: center;
    /* margin-top: 100px; */
    /* position: absolute;
    bottom: 30%;
    margin-left: 15px; */
}
.shmr{
    background: #ff0303;
    color: #fff;
    transition: 0.8 ease;
}
.shmr:hover,.smr:hover{
    background-color: #088178;
}
.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.gallery div img{
    width: 250px;
    filter: grayscale(100%);
    transition: transform 0.5s;

}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10% auto; */
}
.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}